<hr />
<strong><span style="color:darkgreen;">MikeJames</span><span style="color:red;">.me</span></strong> >> 
<a class="internal-link" href="/about">About</a> | 
<a class="internal-link" href="/changelog">Changelog</a> | 
<a class="internal-link" href="/graph">Graph</a>
<!-- | a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a --> >> 
<a href="https://www.facebook.com/themaikimo/">Facebook</a> | 
<a href="https://www.twitter.com/themaikimo/">Twitter</a> | 
<a href="https://www.instagram.com/themaikimo/">Instagram</a>

<!-- >
<br />
Content may be used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license unless specified otherwise.
-->
